@import bourbon

/*==========  Desktop First Method  ==========*/


/* Large Devices, Wide Screens */


@media only screen and (max-width : 1200px)
	.top_text
		h1
			font-size: em(40px)	
	body
		h4
			font-size: em(12px)
	.info_wrap
		margin-top: 189px


	


/* Medium Devices, Desktops */
@media only screen and (max-width : 991px)
	.our_services_item
		margin-top: 100px
		margin-bottom: 100px
		p
			padding-right: 0

	.info_wrap
		margin-top: 0

	.carousel-eq
		.owl-controls
			margin-bottom: 70px

	.col-md-4:nth-child(1)
		.our_services_item
			margin-top: 0


	.top_section
		margin-bottom: 70px

	.black_first
		padding-top: 50px
		.info_wrap
			margin-bottom: 70px
			hr
				display: none
		.top_section
			padding-left: 0
			hr
				float: left
				margin-right: 15px
			h4
				float: left
			h1
				margin-left: 15px
	
	
/* Small Devices, Tablets */
@media only screen and (max-width : 767px)
	.top_text
		h1
			font-size: em(30px)
		a
			font-size: em(10px)

	.our_services_item
		padding-left: 20px
		margin-top: 75px
		margin-bottom: 50px

	.top_section
		h1
			font-size: em(30px)

	.advice_wrap 
		.carousel-item
			.advice_footer_wrap
				hr
					width: 120px

	.contact-us
		.form_wrap
			.contact-form
				label
					width: 40%
					&:nth-child(odd)
						margin-left: 35px
						margin-right: 38px
					input
						width: 100%
					&.your_message
						input
							width: 100%

	.foot_wrapp
		text-align: center
	.footer
		.california
			margin-top: 40px
		.new_york
			margin-top: 40px
			margin-left: 0
		.other
			margin-top: 40px





/* Extra Small Devices, Phones */
@media only screen and (max-width : 504px)
	.top_text
		h1
			font-size: em(20px)	
	.top_section
		h1
			font-size: em(20px)
	.get_in_touch
		h4
			font-size: em(11px)
	.our_services_item
		h2
			font-size: em(18px)

	body
		h4
			font-size: em(11px)

	.company_logos
		margin: 70px 0 90px
		img
			max-width: 30%

	.advice_wrap 
		.carousel-item
			.advice_footer_wrap
				hr
					width: 80px

	.advice_wrap 
		.carousel-item
			p
				padding: 45px 10px 50px
			hr
				display: none


	.contact-us
		.form_wrap
			.contact-form
				label
					width: 90%
					&:nth-child(odd)
						margin-left: 15px
					&:nth-child(even)
						float: left
						margin-left: 15px
					input
						width: 100%
					&.your_message
						width: 90%
	
	.footer
		font-size: em(14px)
		.social_icons 
			i
				font-size: 28px
				margin-right: 7px

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	.top_text
		h1
			padding: 46px 54px 60px
			font-size: em(20px)	



/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

