@import bourbon

/*==========  Desktop First Method  ==========*/


/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	.top_text
		h1
			font-size: em(40px)	


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	.our_services_item
		p
			padding-right: 0

/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	.top_text
		h1
			font-size: em(30px)
		a
			font-size: em(10px)

	.top_section
		h1
			font-size: em(30px)

/* Extra Small Devices, Phones */
@media only screen and (max-width : 504px)
	.top_text
		h1
			font-size: em(20px)	


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	.top_text
		h1
			padding: 46px 54px 60px
			font-size: em(15px)	


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

