@import bourbon
@import vars.sass

//Load Libs SASS
@import "app/libs/font-awesome/css/font-awesome.sass"
@import "app/libs/animate/animate.sass"
@import "app/libs/owl-carousel/assets/owl.carousel.sass"


*::-webkit-input-placeholder
	color: #222
	opacity: 1

*:-moz-placeholder
	color: #222
	opacity: 1

*::-moz-placeholder
	color: #222
	opacity: 1

*:-ms-input-placeholder
	color: #222
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #222
body input:required:valid,
body textarea:required:valid
	color: #222


.gray
	background-color: #202020

.black
	background-color: #181818
.top_section
	text-align: center
	margin-bottom: 110px
	hr
		border: none
		color: $main_color
		background-color: $main_color
		height: 124px
		width: 1px
		margin: 0 auto
		margin-bottom: 24px
	p
		color: $main_color
		text-transform: uppercase
		font-size: em(12px)
		font-family: "OpenSans", sans-serif
		font-weight: 600
		margin: 0
		margin-top: 24px
	h1
		color: #fff
		font-family: "Merriweather", sans-serif
		font-size: em(40px)
		margin-bottom: 0
		line-height: 60px

.our_services_item
	padding-left: 62px
	margin-bottom: 150px
	.icon_wrap
		i
			color: $main_color
			font-size: 22px
	h2
		+mt(.5s)
		color: #fff
		font-family: "Merriweather", sans-serif
		font-size: em(30px)
	p
		color: #929292
		font-family: "OpenSans", sans-serif
		font-size: em(14px)
		margin-bottom: 34px
		line-height: 26px
		padding-right: 75px;

.gray
	.about_more
		color: #fff
		text-transform: uppercase
		margin: 0
		display: inline-block
		font-size: em(16px)
		font-family: 'Roboto Medium', arial
		i
			color: $main_color
			margin-left: 8px

.our_services_item
	&:hover
		h2
			+mt(.5s)
			color: $main_color
		a
			color: $main_color
			text-decoration: none
			+mt(.5s)

.black_first
	padding-top: 150px
	.top_section
		width: 300px
		text-align: left
		position: relative
		padding-left: 32px
		hr
			margin-left: 0
		h1
			position: absolute
			z-index: 100
			+kerning(2)


.advice_wrap, .carousel-eq
	.carousel-wrap
		margin: 15px
	.owl-dots
		text-align: center
		margin-top: 25px
		.owl-dot
			width: 30px
			height: 3px
			background-color: #5c5c5c
			display: inline-block
			margin: 0 20px
			&.active
				background-color: $main_color
	.owl-controls
		margin-bottom: 150px

.info_wrap
	margin-top: 270px
	h4
		margin-bottom: 18px
	hr
		border: none
		color: $main_color
		background-color: $main_color
		height: 124px
		width: 1px
		margin-left: 0

.company_logos
	margin-bottom: 90px
	text-align: center
	img
		max-width: 70%
		max-height: 39px
		margin: 0px 20px 20px

.advice_wrap
	.carousel-item
		max-width: 745px
		margin: 0 auto
		background-color: #181818
		.item_wrap
			display: inline-block
		img
			width: 75px
			height: 75px
			margin: 0 auto
		p
			padding: 45px 65px 50px
			margin: 0
			font-family: "Merriweather", sans-serif
			font-size: em(16px)
			color: #bbb
			line-height: 2em
			text-align: center		
		.advice_footer_wrap
			margin: 0 auto
			max-width: 555px
			height: 70px
			text-align: center
			p
				padding: 0
			hr
				width: 168px
				height: 2px
				float: left
				margin-top: 3px
				background-color: #343434
				border: none
				&:last-child
					float: right
			h4
				display: inline-block
			span
				margin: 0 41px

.regular
	font-family: "OpenSansRegular", sans-serif
	font-size: em(13px)
	text-transform: none

.advice_wrap 
	.carousel-item
		.advice_footer_wrap 
			.regular
				float: none


.team_item_wrap
	margin: 0 auto
	position: relative
	text-align: center
	height: 320px
	width: 290px
	img
		+mt(.5s)
		border-radius: 50%
		max-width: 120px
		margin-top: 48px
	h4
		+mt(.5s)
		margin-top: 28px
	p
		position: absolute
		top: 0
		padding: 0px 20px 0 40px
		color: #bababa
		font-size: em(13px)
		line-height: 2em
		padding: 0px 20px 0 75px
	&.active
		img
			+mt(.5s)
			transform: translate(-115px, -75px) scale(0.40)
		h4
			+mt(.5s)
			transform: translate(-115px, -80px) rotate(90deg)
		p
			+animation-delay(.2s)
			margin-top: 5px
			text-align: left
			display:block!important

.contact-us
	.form_wrap
		max-width: 745px
		margin: 0 auto
		background-color: #181818
		.contact-form
			display: inline-block
			padding: 50px 57px 55px
			//text-align: center
			label
				display: block
				float: left
				margin: 0px 19px 15px
				font-family: "OpenSansRegular", sans-serif
				span
					+mt(.5s)
					display: block
					height: 24px
					padding-top: 10px
					font-size: em(14px)
					color: #fff
					text-transform: uppercase
				&.active
					input
						+mt(.5s)
						border-bottom: 1px solid $main_color
					span
						+mt(.5s)
						padding-top: 0
						font-size: em(13px)
						color: $main_color
				input
					background-color: transparent
					border: none
					border-bottom: 1px solid #414141
					outline: none
					font-size: em(14px)
					width: 274px
					padding-bottom: 12px
					color: #fff
					




//ALWAYS END
@import media
